@page
@model BarclaysPayments.Pages.Transactions.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Forename)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Forename)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.UniquePaymentRef)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.UniquePaymentRef)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.OnlineBookingRefNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.OnlineBookingRefNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.PaymentReasonCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.PaymentReasonCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.PaymentReasonName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.PaymentReasonName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.PaymentReasonOther)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.PaymentReasonOther)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.AmountDue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.AmountDue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.TelNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.TelNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Address1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Address1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Address2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Address2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.Address3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.Address3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.PostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.PostCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.ResponseID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.ResponseID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.AmountPaid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.AmountPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.ResponseStatusCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.ResponseStatusCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.ResponseStatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.ResponseStatusName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.BarclaysErrorCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.BarclaysErrorCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.BarclaysErrorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.BarclaysErrorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.BarclaysErrorRetry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.BarclaysErrorRetry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.AddressOK)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.AddressOK)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.ConfirmationID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.ConfirmationID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.BarclaysPaymentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.BarclaysPaymentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.CardType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.CardType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.CardNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.CardNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.PaymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.PaymentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.IPAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.IPAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.IELTSOrderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.IELTSOrderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.IELTSTestAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.IELTSTestAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.IELTSTestDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.IELTSTestDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.PracticeTestAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.PracticeTestAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.PracticeMaterialsAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.PracticeMaterialsAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.TestTypeCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.TestTypeCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transaction.TestTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transaction.TestTypeName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Transaction.TransactionID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
