@page
@model BarclaysPayments.Pages.Payments.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BarclaysPayment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.PaymentURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.PaymentURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.PSPID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.PSPID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.ORDERID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.ORDERID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.AMOUNT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.AMOUNT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.CURRENCY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.CURRENCY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.LANGUAGE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.LANGUAGE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.CN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.CN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.EMAIL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.EMAIL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.OWNERZIP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.OWNERZIP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.OWNERADDRESS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.OWNERADDRESS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.OWNERCTY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.OWNERCTY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.OWNERTOWN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.OWNERTOWN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.OWNERTELNO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.OWNERTELNO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.SHASIGN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.SHASIGN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.TITLE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.TITLE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.BGCOLOR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.BGCOLOR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.TXTCOLOR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.TXTCOLOR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.TBLBGCOLOR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.TBLBGCOLOR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.TBLTXTCOLOR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.TBLTXTCOLOR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.BUTTONBGCOLOR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.BUTTONBGCOLOR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.BUTTONTXTCOLOR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.BUTTONTXTCOLOR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.LOGO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.LOGO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.FONTTYPE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.FONTTYPE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.ACCEPTURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.ACCEPTURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.DECLINEURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.DECLINEURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.EXCEPTIONURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.EXCEPTIONURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysPayment.CANCELURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysPayment.CANCELURL)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BarclaysPayment.BarclaysPaymentID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
