@page
@model BarclaysPayments.Pages.Response.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BarclaysResponse</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.ORDERID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.ORDERID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.PAYID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.PAYID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.PAYMENT_REFERENCE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.PAYMENT_REFERENCE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.TRXDATE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.TRXDATE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.STATUS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.STATUS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.NCERROR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.NCERROR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.AAVADDRESS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.AAVADDRESS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.ACCEPTANCE)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.ACCEPTANCE)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.AMOUNT)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.AMOUNT)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.BRAND)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.BRAND)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.CARDNO)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.CARDNO)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.CN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.CN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.COMPLUS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.COMPLUS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.CURRENCY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.CURRENCY)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.ED)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.ED)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.IP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.IP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.PM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.PM)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BarclaysResponse.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BarclaysResponse.UpdatedBy)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BarclaysResponse.BarclaysResponseID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
